@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --navy: #2f4156;
    --navy-trans: #2f4156b5;
    --teal: #567c8d;
    --beige: #f5efeb;
    --sky-blue: #c8d9e6;
    --white: #ffffff;
    --errors: rgb(233, 107, 107);
    --success: rgb(111, 237, 180);
    --warning: rgb(241, 245, 136);
    --logo-font: "Passions Conflict", cursive;
    --subtitle-font: "Bodoni Moda", serif;
    --title-font: "Bodoni Moda SC", serif;
    --text-font: "Montserrat", sans-serif;

}

*{
    margin:0;
}

#AppPage::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    height:100%;
    background-image: url('./assets/sfondo.png');
    background-size:cover;
    background-repeat: repeat;
    opacity: 0.7;
    z-index: -1;
    filter:brightness(0.7);

}